body{
	background-color: #000000;
	background-size: 40px 40px;
	background-image: repeating-linear-gradient(45deg, #2d3295 0, #2d3295 4px, #000000 0, #000000 50%);
	font: 400 14px/24px 'Roboto', Verdana, Helvetica, sans-serif;
	color: #151515;
}
h1{font: 400 40px/50px 'TF2 Build', 'Bree Serif', Georgia, serif; color: #151515;}
h2{font: 400 20px/24px 'TF2 Build', Georgia, serif; color: #white;}
h3{font: 400 14px/16px 'Open Sans Bold', Georgia, serif; font-weight : bold; color: #151515;}
ul{margin:0px; padding:0px;}
ul.bulletedlist{margin-left:15px; padding:0px;}
ul.nobullet { list-style-type: none;}
li.nobullet { list-style-type: none;}
a {text-decoration:none; color: lightGray;}
a:hover {color:white;}
a img{border:0px;}

#container{
	width:950px;
	margin:0px auto 300px auto;
	background-color : white;
	overflow:auto;
	padding-bottom:100px;
}


/** Sections title */
.section-title img
{
	float :left;	
	height: 70px;
	margin-right: 5px;
}

/** Work description table */

.work-description td
{
	padding-right : 15px;
}

.work-description img
{
	height: 200px;
}

#work .content h2 {font: 400 20px/24px 'Roboto', Georgia, serif; color: #151515; text-align: center; font-weight:bold;}

#work .content img {
  transition: transform 0.3s ease-in-out;
}

#work .content  img:hover {
  transform: scale(1.05);
}

.work hr {color: #0D1368;}


/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:864px;
	height:100px;
	background-color:#0D1368;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}
#header #logo{
	padding-top: 20px;
	float:left;
}

#header #logo img
{
	height: 70px;
}

#header #main-menu{float:left; padding-top:40px; padding-left: 50px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left: 20px;
	font: 400 16px/18px 'Roboto', Georgia, serif;
	font-weight: bold
}

#header #header-title {text-align:center; color: #ffffff;}
#header #header-title h1{color: #ffffff;}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:115px;}
#about h1{float:left;}
#about #top-social{float:right; padding-top:62px;}
#about #top-social li{float:left; list-style:none; margin-left:10px;}
#about #top-social .facebook{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-facebook-icon.png) no-repeat;
}
#about #top-social .twitter{
	text-indent:-9999px; 
	display:block; 
	width:31px; 
	height:24px; 
	background:url(images/sm-twitter-icon.png) no-repeat;
}
#about #top-social .linkedin{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-linkedin-icon.png) no-repeat;
}
#about .content{overflow:auto; text-align: justify; text-justify: inter-word;}
#about .content img{float:left; margin-right:40px;}
#about .content #profile-photo{border-radius: 50%;}

#about .content #service-icons{margin-top:20px;}
#about .content #service-icons li{
	display:block;
	width:108px;
	height:108px;
	text-indent:-9999px;
	list-style:none;
	float:left;
	margin-right:20px;
}
#about .content #service-icons li.services-design{background:url(images/icon-1.png) no-repeat;}
#about .content #service-icons li.services-mobile{background:url(images/icon-2.png) no-repeat;}
#about .content #service-icons li.services-film{background:url(images/icon-3.png) no-repeat;}
#about .content #service-icons li.services-photo{background:url(images/icon-4.png) no-repeat;}

#about #videoDiv {text-align:center;}

/****************************************************/
/* EXPERIENCE SECTION */
/****************************************************/

#experience{margin:0px 43px; padding-top:115px; text-align: justify; clear:both;}
#experience .col{
	width:235px;
	float:left;
	list-style-position: inside;
}
/*#experience .content{overflow:auto;} */
#experience .col-mid{margin:0px 65px;}

#experience .imgScreenshot {max-width: 100%;  height: auto; margin-right: 5px;} 
#experience .content{overflow:auto; text-align: justify; text-justify: inter-word;}

#experience .experience-description td
{
	padding-right : 15px;
}

/****************************************************/
/* JOB SECTION */
/****************************************************/

#job{margin:0px 43px; padding-top:115px;}
#job .col{
	width:235px;
	float:left;
	list-style-position: inside;
}

#job .content{overflow:auto; text-align: justify; text-justify: inter-word;}
#job .col-mid{margin:0px 65px;}

/****************************************************/
/* WORK SECTION */
/****************************************************/

#work-thumb
{
	height:175px;
}

#work{margin:0px 43px; padding-top:115px;}
#work .content{overflow:auto; text-align: justify; text-justify: inter-word;}
#work #work-thumbs li{
	list-style:none;
	float:left;
	margin:0px 20px 15px 0px;
	padding:0px;
}

#work .col {
	width:235px;
	float:left;
	list-style-position: inside;
}
#work .col-mid{margin:0px 40px;}

#work #work-thumbs img
{
	height:175px;
}

#work #work-thumbs li.last{margin:0px;}

/****************************************************/
/* HOBBIES SECTION */
/****************************************************/

#hobbies{margin:0px 43px; padding-top:115px; text-align: justify;}
#hobbies .content{overflow:auto;}
#hobbies #hobbies-thumbs li{
	list-style:none;
	float:left;
	margin:0px 20px 15px 0px;
	padding:0px;
}

#hobbies .col {
	width:235px;
	float:left;
	list-style-position: inside;
}
#hobbies .col-mid{margin:0px 40px;}

#hobbies #hobbies-thumbs img
{
	height:175px;
}

#hobbies #hobbies-thumbs li.last{margin:0px;}

/****************************************************/
/* CONNECT SECTION */
/****************************************************/
#connect{margin:0px 43px; padding-top:115px;}
#connect .content{overflow:auto;}
#connect #form{
	width:410px;
	float:left;
}
#connect #form span{
	display:block;
	float:left;
	width:100px;
	padding-top:5px;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}
#connect #form input{
	float:left;
	width:255px;
	border:0px;
	color:#3b3b3b;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	margin-bottom:10px;
}
#connect #form textarea{
	float:left;
	border:0px;
	width:255px;
	height:100px;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#3b3b3b;
}

#connect #form input.name{background:lightgray  url(images/icon-user.png) no-repeat 10px 8px;}
#connect #form input.email{background:lightgray  url(images/icon-mail.png) no-repeat 10px 9px;}
#connect #form textarea.message{background:lightgray url(images/icon-message.png) no-repeat 10px 8px;}
#connect #form input.submit{ 
	width:75px;   
	height:30px;
	float:right;
	padding:0px 0px 5px 0px;
	margin:10px 16px 0px 0px;
	background:lightgray;
	color:#3b3b3b;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}

#connect #form input.submit:hover{
	background : silver;
}

#connect #social-footer{
	width:300px;
	float:left;
	margin-left:75px;
}
#connect #social-footer #sm-links{margin-top:25px;}
#connect #social-footer #sm-links li{
	list-style:none;
	float:left;
}
#connect #social-footer #sm-links li a{
	display:block;
	text-indent:-9999px;
	width:26px; 
	height:26px;
	margin-right:10px;
}
#connect #social-footer #sm-links li a.facebook{background:url(images/sm-facebook-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.twitter{background:url(images/sm-twitter-icon.png) no-repeat; width:31px;}
#connect #social-footer #sm-links li a.dribble{background:url(images/sm-dribble-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.vimeo{background:url(images/sm-vimeo-icon.png) no-repeat; width:27px;}
#connect #social-footer #sm-links li a.google{background:url(images/sm-google-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.youtube{background:url(images/sm-youtube-icon.png) no-repeat; width:28px;}
#connect #social-footer #sm-links li a.linkedin{background:url(images/sm-linkedin-icon.png) no-repeat;}

/****************************************************/
/* MISC */
/****************************************************/
@font-face {
    font-family: 'TF2 Build';
    src: url('css/tf2build.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('css/OpenSans.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('css/OpenSans-Bold.ttf');
}

.divider{
	width:100%;
	height:9px;
	clear:both;
}


.top-divider, .bottom-divider{
	width:100%;
	height:9px;
	background:url(images/divider.png) repeat-x;
	clear:both;
}
.top-divider{margin-bottom:40px;}
.bottom-divider{margin-top:40px;}
